.sun {
  position: absolute;
  background-color: yellow;
  border-radius: 50%;
  transform: translate(-50%, 0);
  transition:
    bottom 1s linear,
    left 1s linear,
    width 1s linear,
    height 1s linear,
    box-shadow 1s linear,
    opacity 1s linear;
  z-index: 1;
}
